<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lucasmartello.projeto">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Role do Jorge"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projeto"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login">
        </activity>
        <activity
            android:name=".SucessoLoginActivity"
            android:label="Sucesso Login">
        </activity>
        <activity
            android:name=".FalhaLoginActivity"
            android:label="Falha Login">
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="Cadastro">
        </activity>
        <activity
            android:name=".SobreActivity"
            android:label="Sobre">
        </activity>
        <activity
            android:name=".CadastroSucessoActivity"
            android:label="Cadastro Sucesso">
        </activity>
        <activity
            android:name=".CadastroFalhaActivity"
            android:label="Cadastro Falha">
        </activity>

    </application>

</manifest>